body {
    color: white;
    background-color: black;
}

table {
    border-collapse: collapse;
    background-color:
        #000000;
    margin-right: 70px;
    margin-top: -280px;
    float: right;
}

tbody tr,
table td,
table th {
    border: 1px solid #bbb;
    padding: 10px 20px;
}

table th {
    background-color:
        #d1084b;
    color:
        #fff;
    font-weight: 600;
}

/* -------form--------- */

form {
    /* border: solid 1px red; */
    width: 370px;
    height: 250px;
    text-align: center;
    padding: 25px;
    margin: 70px 50px 50px 20px;
    border-radius: 10px;
    background-color: #ff0000;
    box-sizing: border-box;
}

input {
    width: calc(70% - 15px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #1c87c9;
    outline: none;
}